<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon logout-icon" 
  aria-label="Example icon-button with logout-icon icon" (click)="logOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<!-- <div class="detail-container" *ngIf="user">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
        <mat-card-subtitle>{{ user.role }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="card-content">
          <img mat-card-image src="{{user.image}}" alt="User Image">
          <p><strong>Age:</strong> {{ user.age }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Phone:</strong> {{ user.phone }}</p>
          <p><strong>University:</strong> {{ user.university }}</p>
          <p><strong>Company:</strong> {{ user.company.name }}</p>
          <p><strong>Address:</strong> {{ user.address.address }}, {{ user.address.city }}</p>
          <p><strong>Card number:</strong> {{ user.bank.cardNumber }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->
  
<div class="detail-container" *ngIf="user">
  <div class="form-container">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          [formControl]="nameFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. John Doe"
          pattern="^[A-Za-z]\\w{5,29}$"
        /> 
        @if (nameFormControl.hasError('pattern')) {
          <mat-error>Please enter a valid name</mat-error>
        }
        @if (nameFormControl.hasError('required')) {
          <mat-error>Name is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input
          matInput
          [formControl]="adressFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. Number 1,..."
        /> 
        @if (adressFormControl.hasError('required')) {
          <mat-error>Adress is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Phone</mat-label>
        <input
          matInput
          [formControl]="phoneFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. 1234..."
          pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
        /> 
        @if (phoneFormControl.hasError('pattern')) {
          <mat-error>Please enter a valid phone number</mat-error>
        }
        @if (phoneFormControl.hasError('required')) {
          <mat-error>Phone number is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </form>
  </div>
</div>