:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .detail-container {
    padding: 24px;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  
  .detail-container img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }
  
  .detail-container p {
    margin: 8px 0;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }