:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .detail-container {
    padding: 24px;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  
  .detail-container img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }
  
  .detail-container p {
    margin: 8px 0;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  body {
    margin-top: 64px; /* Adjust based on the height of the toolbar */
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .example-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  